@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --font:"Nunito Sans", sans-serif;
    

    /* primary colors */

    --Very-Dark-Blue-Text: hsl(200, 15%, 8%);
    --Dark-Gray-Input: hsl(0, 0%, 52%);

    /* secondary colors  */

    --White: hsl(0, 0%, 100%);
    --Very-Light-Gray-Background: hsl(0, 0%, 98%);

    --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);

    --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
    
}

body{
    background-color: var(--Very-Light-Gray-Background);
    font-family: var(--font);
    color: var(--Very-Dark-Blue-Text);
    max-width: 1600px;
}

.dark-body{
    background-color: var(--Very-Dark-Blue-Dark-Mode-Background) !important;
    color:var(--White) !important;
}
.dark-elements{
    background-color: var(--Dark-Blue-Dark-Mode-Elements) !important;
    color: var(--White) !important;
}



header{
    background-color: var(--White);
    width: 100%;
}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.4rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin-bottom: 2rem;
}
.text{
    font-weight: 800;
    font-size: 1.2rem;
}
#toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
#toggle i{
    color: var(--Very-Dark-Blue-Text);
    font-weight: 500;
    font-size: 1rem;
    transform: rotate(-10deg);
}
.search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.4rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}
#inp-word{
    width:45%;
    display: flex;
    border: 1px solid var(--Very-Light-Gray-Background);
    border-radius: 5px;
    box-shadow: 1px 1px 8px hsl(0, 0%, 83%);
    padding: 2px;
    color: var(--Very-Dark-Blue-Text);
}
.inp-word-dark{
    color: var(--White) !important;
    border: 1px solid var(--Dark-Blue-Dark-Mode-Elements) !important;
    box-shadow: 1px 1px 8px #01011d !important;
}

.inp-dark{
    color: var(--White) !important;
    background-color: var(--Dark-Blue-Dark-Mode-Elements) !important;
}

.search form input{
    width: 80%;
    outline: none;
    border: none;
    fill: none;
    color: var(--Very-Dark-Blue-Text);
    background: var(--White);
    padding: 10px;
    font-size: 14px;
    opacity: 0.9;
    overflow: hidden;
}
.search form button{
    outline: none;
    border: 1px solid transparent;
    background: var(--White);
    width: 20%;
    color: var(--Very-Dark-Blue-Text);
    box-shadow: 1px px 8px hsl(0, 0%, 83%);
    opacity: 0.9;
    overflow: hidden;
}
.search form button:hover{
    opacity: 1;
}
.search form input:hover{
    opacity: 1;
}
.dropdwn{
    width: 25%;
}
.dropdwn select{
    width:100%;
    outline: none;
    border: none;
    fill: none;
    border-radius: 5px;
    color: var(--Very-Dark-Blue-Text);
    background: var(--White);
    padding: 15px;
    font-size: 14px;   
}
main{
    min-height: 100vh;
    background-color: var(--Very-Light-Gray-Background);
}


.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    grid-gap: 30px; 
    margin: 50px auto;
    max-width: 1440px;
    padding: 20px;
    justify-content: space-evenly;
    color: var(--Very-Dark-Blue-Text);
}

.card a{
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    width: 250px;
    max-height: 300px;
    transition: all .3s ease-in-out;
    color: inherit;
    background-color: var(--White);
}

.card a:hover{
    transform: scale(1.09);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}

.image-container{
    margin-bottom: .5rem;
    height:150px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardItem{
    background-color: inherit;
    border-radius: inherit;
    color: inherit;
}
.card-details{
    padding: 10px;
    
}
.card-details h1{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 1rem;
}


.error{
    text-decoration: none;
    border-radius: 7px;
    /* background-color: var(--White); */
    box-shadow: 0px 5px 5px var(--Dark-Blue-Dark-Mode-Elements);
    max-width: 800px;
    max-height: 100vh;
}
.error-image{
    width: 60%;
    height: 60%;
}
.error-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.error-details{
    font-size: 20px;
    font-weight: 800px;
    color: var(--Very-Dark-Blue-Text);
}
@media(max-width:650px){
    .card{
        justify-content: center;
    }
    .search{
        flex-direction: column;
    }
    #inp-word{
        width: 90%;
    }

    .dropdwn{
        width: 70%;
    }
}
